<!DOCTYPE html>
<html>
  <head>
    <title>YoloTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>
   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TheGossip</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/static_pages/home/">Home</a></li>
      <li><a href="/static_pages/team/">Notre équipe</a></li>
      <li><a href="/static_pages/contact/">Nous contacter</a></li>
      <li><a href="/static_pages/welcoming/">Welcoming</a></li>
    </ul>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
